@import '../../custom';

.cart-view {
    width: 60%;
    min-height: 50vh;
    margin: 7rem auto;
    padding: 2rem;
    background-color: whitesmoke;
    box-shadow: $container-shadow;

    &-container {
        min-height: 100vh;
    }

    &-title {
        font-size: 1.2rem;
        text-decoration: underline $color-violet .2rem;
        font-weight: bolder;
    }

    &-no-products {
        font-size: 1rem;
        color: $color-violet;
    }

    &-total {
        font-size: 1.2rem;
        font-weight: bolder;
        margin-top: 1rem;

    }
}