@import "../../custom";

.comingSoon {
    margin: auto;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.container-item-list {
    margin-top: 7rem;
    min-height: 100vh;
}