@import "../../custom";

.cart-widget-container {
    width: 3rem;
}

.shopping-cart {
    position: relative;
    color: black;
    font-size: 1.3rem;
    animation: ease-in-out .5s;
}

.shopping-qty {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 1.5rem;
    height: 1.5rem;
    color: black;
    background-color: $color-pink;
    padding: .2rem;
    font-size: .8rem;
    border-radius: 50%;
    text-align: center;
}