@import '../../custom';

.card-container {
    width: 20rem;
    padding: 1rem;
}

.card-img{
    height: 18rem;
}

.container-white{
    position: relative;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 .75rem rgba(0,0,0, 0.1);
}

.product-title {
    font-size: 1.05rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.product-option {
    position: absolute;
    right: 10%;
    top: 12%;
    font-size: .85rem;
    font-weight: bolder;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 1rem;
    height: 5rem;
    width: 5rem;
    box-shadow: 0 0 .75rem rgba(0, 0, 0, 0.7);
}

.product-stock {
    font-size: .75rem;
}

.product-presentation {
    font-size: 1rem;
}

.product-description {
    font-size: .85rem;
}

.product-price {
    font-size: 1rem;
}

.product-ingredients{
    font-size: .65rem;
}

.link-btn-detail {
   width: 100%; 
   text-decoration: none;
}