.container-white{
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 .75rem rgba(0,0,0, 0.1);
}

.img-product{
    //width: 20rem;
    height: 15rem;
}

.product-title {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.product-stock {
    font-size: .75rem;
}

.product-presentation {
    font-size: 1rem;
}

.product-description {
    font-size: .85rem;
}

.product-price {
    font-size: 1rem;
}

.product-ingredients{
    font-size: .65rem;
}