@import "../../custom";

.contact-page-container {
    min-height: 100vh;
}

.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-input {
        margin-top: 1rem;
        width: 20rem;
        outline: none;

        &-errors {
            border: solid $color-violet 0.3rem;
        }

        &-ok {
            border: solid $color-pink 0.3rem;
        }

        &-comments {
            resize: none;
        }
    }

    &-message {
        font-size: 0.8rem;
        font-weight: bolder;
        color: white;
        margin: 0.25rem;
        width: 15rem;
        margin: auto;
        padding: 0.1rem;
        padding-left: 1rem;
        border-radius: 0.25rem;
        margin-top: 0.5rem;

        &-error {
            background-color: darken($color-violet, 10%);
        }

        &-success {
            background-color: darken($color-pink, 10%);
        }

        &-logged {
            background-color: lighten($color-violet, 10%);
        }
    }

    &-span {
        margin-top: 1rem;
        text-decoration: 0.25rem $color-violet underline;

        &-google {
            margin-bottom: 1rem;
            text-decoration: none;
        }
    }
}

.form .btn-form-submit {
    //SUBMIT STYLES!
    border: solid 0.25rem $color-violet;
    background-color: whitesmoke;
    color: $color-violet;
    border-radius: 0.25rem;
    font-weight: bolder;

    &:hover {
        background-color: $color-violet;
        color: whitesmoke;
    }
}

.btn-login {
    @extend %buttton-black-violet;
    margin-top: 0.5rem;
}