@import '../../custom';

.checkout-container{
    width: 90%;
    margin: auto;
    min-height: 100vh;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &-no-stock {
        display: flex;
        flex-direction: column;
        width: 80%;
        min-height: auto;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.img-no-stock{
    width: 15%;
    height: auto;
}

.container-user-logged{
    @extend %container-flex-row;
    justify-content: center;
}

