@import "../../custom";

.navbar-brand {
    font-weight: 800;
}

.navbar-nav {
    width: 100%;
}

.nav-link{
    padding: 1rem;
}

.active {
    background-color: $color-pink;
    font-weight: bolder;
}