@import "../../custom";

.navbar-brand {
    font-weight: 800;
}

.navbar-nav {
    width: 100%;
}

.nav-link{
    padding: 1rem;
}

.activeLink {
    font-weight: bolder;
    border-left: solid .3rem $color-pink;
    border-right: solid .3rem $color-pink;
}

.activeLinkBrand {
    background-color: none;
}

.activeLinkCart {
    border: none;
}

.no-cart {
    width: 3rem;
}