//COLORS:
$color-pink: #ffa5d8;
$color-violet: #9579d1;
$color-light-black: lighten(black, 20%);

//SHADOWS:
$element-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.7);
$container-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);

//BUTTONS:
%buttton-black-violet {
    border: solid black 0.2rem;
    background-color: black;
    color: white;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    margin: 0 0.3rem;

    &:hover {
        border: solid $color-violet 0.2rem;
        background-color: $color-violet;
        color: white;
    }

    outline: none;
}

.btn-link {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.btn-container-violet {
    &:hover {
        background-color: white;
        color: darken($color-violet, 25%);
    }
}

//CONTAINERS:
%white-container {
    background-color: white;
    box-shadow: $container-shadow;
    margin-top: 2rem;
    padding: 1rem;
}

%container-flex-row {
    display: flex;
    flex-direction: row;
}

%container-flex-column {
    display: flex;
    flex-direction: column;
}

.white-container-full {
    @extend %white-container;
    width: 90%;
    min-height: 80vh;
    margin: auto;
}

.white-container-small {
    @extend %white-container;
    width: 70%;
    margin: auto;
    min-height: 80vh;
}

.violet-container {
    @extend %white-container;
    background-color: lighten($color-violet, 5%);
    color: whitesmoke;
    border-radius: 0.25rem;
    width: 95%;
    margin: 1rem auto;
}

//TITLES:
.white-title {
    @extend %title;
}

%title {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin-top: 2rem;
}

.title {
    @extend %title;
    text-decoration: 0.2rem $color-violet underline;

    &-small {
        font-size: 0.8rem;
        text-decoration: none;
    }
}

//LISTS:
.list {
    text-align: left;

    &::marker {
        font-size: 1.5rem;
        color: $color-pink;
    }
}

//INPUTS:
input::placeholder,
textarea::placeholder {
    color: $color-violet;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-left: 0.5rem;
    font-weight: bolder;
}

//LINK:
.link {
    text-decoration: none;
}