@import "../../custom";

.btn-custom {
    border: solid black .2rem;
    background-color: black;
    &:hover{
        border: solid lighten(black, 20%) .2rem;
        background-color: lighten(black, 20%);
    }
}
