@import "../../custom";

.btn-custom {
    border: solid black .2rem;
    background-color: black;
    &:hover{
        border: solid $color-violet .2rem;
        background-color: $color-violet;
    }
    outline: none;
}
